h2 {
  margin-left: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:14pt;
  @media #{$mobile}{
    margin-top: 0;
    padding-top:15px;
  }
}

p {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  text-align: justify;
  font-size: 10pt;
}

.ligne {
  background-color: black;
  width: 1px;
  height: 100%;
  margin: 0 auto;
}

.border{
  border-right: 1px solid #000000;
}

.pd-right-0{
  padding-right: 0;
}