/** Responsive variables **/
$mobile       : "(max-width: 768px)";
$mobile-tablet: "(max-width: 992px)";
$tablet       : "(min-width: 768px) and (max-width: 992px)";
$small-screen : "(min-width: 992px) and (max-width: 1200px)";

$small-height : "(min-height:650px) and (max-height:800px)";
$really-small-height : "(min-height:560px) and (max-height:650px)";
$smartphone-height : "(min-height:420px) and (max-height:560px)";
$blblblblbl : "(min-height:150px) and (max-height:420px)";
